<Config_Head><Defaults><Folder>C:\Users\Steven\Pictures\Downloaded_Pictures\</Folder><URL>https://www.reddit.com/r/wallpapers/</URL><Search_Method>regex</Search_Method></Defaults><Patterns><Pattern id="0" use_flag="True">((http:)?//i.imgur.com/[a-z0-9]*(.jpg|.png|.jpeg))</Pattern><Pattern id="1" use_flag="True">(https://i.redd.it/[a-z0-9]*(.jpg|.png|.jpeg))</Pattern><Pattern id="2" use_flag="False">(https://i.redd.it/[a-z0-9]*(.jpg|.png|.jpeg))</Pattern></Patterns></Config_Head>